@model IEnumerable<MusicStore.Models.Album>

@{
    ViewBag.Title = "商店管理主页";
}
@helper format(String input, int length)
{
    if (input.Length > length)
    {
    @input.Substring(0, length)<span>....</span>
    }
    else
    {
    @input
    }
    
}


<div id="content">
    <div id="zhuanji_search">
        <form action="/storemannager/index" id="condition_form" method="get">


            <span id="condition_fenge">风格</span>
            @Html.DropDownList("GenreId", "请选择风格...")

            <span id="condition_zhuanji">专辑</span>
            <input id="condition_zhuanji_val" name="zhuanji_val" />
            <input type="submit" value="搜索" />
        </form>
        <p id="create" class="create">
            @Html.ActionLink("增加新专辑", "Create")
        </p>
    </div>

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Genre.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @format(item.Genre.Name, 20)
                </td>
                <td title="@Html.DisplayFor(model => item.Artist.Name)">
                    @format(item.Artist.Name, 20)
                </td>
                <td title="@Html.DisplayFor(model => item.Title)">
                    @format(item.Title, 20)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AlbumId })
                </td>
            </tr>
        }

    </table>
    <div id="page_info">


        <ul id="page">
            <li><a href="@Url.Content("~/Storemannager/index")?Page=1" class="page_text ">首页</a></li>
            @{
                if (ViewBag.current_page > 1)
                {
                <li><a href="@Url.Content("~/Storemannager/index")?Page=@(ViewBag.current_page - 1)">《
                </a>

                </li>
            
                }
                else
                {


                }
            }

            @Html.Hidden("current_page")
            @{for (int i = 1; i < ViewBag.count + 1; i++)
              {
                <li>

                    @Html.ActionLink(i.ToString(), "index", new { Page = i })

                </li>

              }
               
            }
            @{  if (ViewBag.current_page < ViewBag.count)
                {
                <li><a href="@Url.Content("~/Storemannager/index")?Page=@(ViewBag.current_page + 1)">》
                </a>

                </li>
            
                }
                else
                {

                }
            
            }

            <li><a href="@Url.Content("~/Storemannager/index")?Page=@(ViewBag.count)"
            class="page_text">末页</a></li>


        </ul>
        <span id="sum_page"><span>共有</span><b> @(ViewBag.count) </b>页，
            总计<b> @(ViewBag.counts) </b>条记录</span>
    </div>
</div>

<script>
    $(function () {
        init();
        page_choose();
        $('#condition_form  #condition_zhuanji #condition_zhuanji_val').addClass("condition");
    });

</script>
