@model IEnumerable<MusicStore.Models.Album>

@{
    ViewBag.Title = "商品搜索-MusicStore";
}

<div id="content">



<div id="breadcrumd">
        <h1><a class="liupai"  >搜索结果</a></h1>
        
    </div>
    <ul id="zhuanji_brwose">
        @foreach (var album in Model)
        {
            <li>
                @*@Html.DisplayFor(a=>album.AlbumId)*@
                <div class="content_block">
                    <a href="@Url.Content("/store/details")?id=@album.AlbumId">
                        <img src="@album.AlbumArtUrl" />
                       
                    </a>
                    <div id="p_name">
                         <a href="@Url.Content("/store/details")?id=@album.AlbumId">
                              @album.Title
                           </a>
                    </div>
                    <span id="zhuanji_biaoti"></span>

                </div>
            </li>
        }
    </ul>
    <div id="page_info">


        <ul id="page">
            <li><a href="@Url.Content("~/home/search")?Page=1&key=@(ViewBag.key)" 
                class="page_text ">首页</a></li>
            @{
                if (ViewBag.current_page > 1)
                {
                <li>
                    <a href="@Url.Content("~/home/search")?Page=@(ViewBag.current_page - 1)&key=@(ViewBag.key)">《
                    </a>

                </li>
            
                }
                else
                {


                }
            }

            @Html.Hidden("current_page")
            @Html.Hidden("key")
            @{for (int i = 1; i < ViewBag.count + 1; i++)
              {
                <li>

                    @Html.ActionLink(i.ToString(), "search","home", new
               {
                   Page = i,
                   key =ViewBag.key
               })

                </li>

              }
               
            }

            @{  
                if (ViewBag.current_page < ViewBag.count)
                {
                <li>
                    <a href="@Url.Content("~/home/search")?key=@(ViewBag.key)&Page=@(ViewBag.current_page + 1)">
                        》
                    </a>

                </li>
            
                }
                else
                
                {

                }
            
            }

            <li>
               
                <a href="@Url.Content("~/home/search")?key=@(ViewBag.key)&Page=@(ViewBag.count)"
            class="page_text">末页</a></li>


        </ul>
        <span id="sum_page"><span>共有</span><b> @(ViewBag.count) </b>页，
            总计<b> @(ViewBag.counts) </b>条记录</span>
    </div>
    <script>
        $(function () {
            page_choose();
            var key = $('#key').val();
            $('.search').val(key);
            setKeywordClass();
        });

    </script>

</div>
